/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2018, 7:43:43 PM
    Author     : admin
*/

body {
    background-color: #eee;
    margin-top: 3em;
}

h1 {
    color: black;
    text-shadow: 2px 3px darkgray;
}

.btn.casilla {
    width: 6em;
}

div.mosca {
    height: 400px;
    /*padding: 4em;*/
    background: url('../images/mosca.jpg') no-repeat center center;
    /*background-size: cover;*/
}